
/* 
    Created on : 10 may 2023, 19:03:19
    Author     : Usuario
*/

.button-cambiar-color-raton-encima{
    -fx-background-color: #F2F2FF

}
.button-cambiar-color-raton-encima:hover{
    -fx-background-color:#d4d2d2
}


.label-seleccionado{
    
}
.label-seleccionado:hover{
    -fx-text-fill:whitesmoke
    
}